@font-face {
  font-family: 'icomoon';
  src:  url('../font/icomoon.eot?dj641t');
  src:  url('../font/icomoon.eot?dj641t#iefix') format('embedded-opentype'),
  url('../font/icomoon.ttf?dj641t') format('truetype'),
  url('../font/icomoon.woff?dj641t') format('woff'),
  url('../font/icomoon.svg?dj641t#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home2:before {
  content: "\e901";
}
.icon-office:before {
  content: "\e903";
}
.icon-newspaper:before {
  content: "\e904";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-images:before {
  content: "\e90e";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-music:before {
  content: "\e911";
}
.icon-play:before {
  content: "\e912";
}
.icon-video-camera:before {
  content: "\e914";
}
